--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
ultralytics
onnxruntime-gpu==1.18.0
opencv-python
numpy
scikit-learn
pillow
tqdm
sqlalchemy
streamlit
chromadb
mysql-connector-python
pymysql